<div class="nav-contain">

  <a href="#/home">
    <img src="images/hex-logo.svg" class="navhex-sm">
  </a>

  <a href="#/about">
    <img src="images/hex-about.svg" class="navhex-big">
  </a>

  <a href="#/work">
    <img src="images/hex-work.svg" class="navhex-sm">
  </a>

  <a href="#/art">
    <img src="images/hex-art.svg" class="navhex-sm">
  </a>
</div>


<section class="view-container">

  <!-- <div id="my-portrait">
    <img src="http://placehold.it/250x250">
  </div> -->

  <div class="my-blurb">
    <h1>
      Hello, world.
    </h1>
    <br>
    <span>
      <p>
        I'm Xuan - a front-end developer from Detroit and a recent graduate of the front-end developer bootcamp at Grand Circus.
      </p>

      <p>
        I hope to dive into the field of UX design in the future working as a front-end developer. My passions lie in art, design, cognitive psychology, and technology; UX is the perfect blend of all of the above!
      </p>
    </span>
  </div>

</section>
