<div class="nav-contain">

  <a href="#/home">
    <img src="images/hex-logo.svg" class="navhex-sm">
  </a>

  <a href="#/about">
    <img src="images/hex-about.svg" class="navhex-sm">
  </a>

  <a href="#/work">
    <img src="images/hex-work.svg" class="navhex-big">
  </a>

  <a href="#/art">
    <img src="images/hex-art.svg" class="navhex-sm">
  </a>
</div>



<section class="view-container">

  <p id="work-blurb">
    Some of my past projects, in reverse chronological order.
  </p>

  <div class="project-wrap">
    <div class="project-img">
      <a href="https://justxuit.github.io/tripsnip/"><img src="images/work/tripsnip.png" class="screenshot"></a>
    </div>
    <div class="project-desc">
      <p class="project-text">A travel-themed web app companion built using AngularJS. Collectible cards are generated based on user input and JSON data pulled from the RESTcountries API.</p>
    </div>
  </div>

  <br><br><br><br>

  <div class="project-wrap">
    <div class="project-img">
      <a href="https://justxuit.github.io/raplibs/"><img src="images/work/raplibs.png" class="screenshot"></a>
    </div>
    <div class="project-desc">
      <p class="project-text">A totally fly 90's mad libs app; built using AngularJS.</p>
    </div>
  </div>

  <br><br><br><br>

  <div class="project-wrap">
    <div class="project-img">
      <a href="https://justxuit.github.io/the_void/"><img src="images/work/void.png" class="screenshot"></a>
    </div>
    <div class="project-desc">
      <p class="project-text">A seat reservation app built for a hypothetical, space-themed theater, featuring CSS3 animations and jQuery.</p>
    </div>
  </div>

  <br><br><br><br>

  <div class="project-wrap">
    <div class="project-img">
      <a href="https://justxuit.github.io/shopping_cart/"><img src="images/work/shoppingcart.png" class="screenshot"></a>
    </div>
    <div class="project-desc">
      <p class="project-text">A simple shopping cart application built with vanilla JavaScript.</p>
    </div>
  </div>

</section>
