<div class="nav-contain">

  <a href="#/home">
    <img src="images/hex-logo.svg" class="navhex-sm">
  </a>

  <a href="#/about">
    <img src="images/hex-about.svg" class="navhex-sm">
  </a>

  <a href="#/work">
    <img src="images/hex-work.svg" class="navhex-big">
  </a>

  <a href="#/art">
    <img src="images/hex-art.svg" class="navhex-sm">
  </a>
</div>



<section class="view-container">

  <p id="work-blurb">
    Some of my past projects, in reverse chronological order.
  </p>

  <div class="project">
    <a href="https://justxuit.github.io/tripsnip/"><img src="images/work/tripsnip.png" class="project-img"></a>
    <h1>TripSnip</h1>
    <p class="project-desc">
      A travel-themed web app companion built using AngularJS. Collectible cards are generated based on user input and JSON data pulled from the RESTcountries API.
    </p>
  </div>

  <div class="project">
    <a href="https://justxuit.github.io/raplibs/"><img src="images/work/raplibs.png" class="project-img"></a>
    <h1>Rap Libs</h1>
    <p class="project-desc">
      A totally fly 90's mad libs app; built using AngularJS.
    </p>
  </div>

  <div class="project">
    <a href="https://justxuit.github.io/the_void/"><img src="images/work/void.png" class="project-img"></a>
    <h1>The Void Theater Seating App</h1>
    <p class="project-desc">
      A seat reservation app built for a hypothetical, space-themed theater, featuring CSS3 animations and jQuery.
    </p>
  </div>

  <div class="project">
    <a href="https://justxuit.github.io/shopping_cart/"><img src="images/work/shoppingcart.png" class="project-img"></a>
    <h1>Shopping Cart</h1>
    <p class="project-desc">
      A simple shopping cart application built with vanilla JavaScript.
    </p>
  </div>

</section>
